@model IEnumerable<CO2Neutral_MVC.Models.listaMedios>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idMedios)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.valor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idMedios)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.valor)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.idMedios  }) |
            @Html.ActionLink("Details", "Details", new { id = item.idMedios }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.idMedios })
        </td>
    </tr>
}

</table>
