@model CO2Neutral_MVC.Models.EstadisticaTransporte

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>EstadisticaTransporte</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.kilometraje)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.kilometraje)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cantidadVeces)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cantidadVeces)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.idMedios)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idMedios)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.idFrecuencias)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idFrecuencias)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.idCalculadora)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idCalculadora)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.idMedioTransporte)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idMedioTransporte)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
