@model CO2Neutral_MVC.Models.MedioTransporte

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>MedioTransporte</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.idCalculdora, "Calculadora")
        </div>
        <div class="editor-field">
            @Html.DropDownList("idCalculdora", String.Empty)
            @Html.ValidationMessageFor(model => model.idCalculdora)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idFrecuencias, "listaFrecuencias")
        </div>
        <div class="editor-field">
            @Html.DropDownList("idFrecuencias", String.Empty)
            @Html.ValidationMessageFor(model => model.idFrecuencias)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.kilometraje)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.kilometraje)
            @Html.ValidationMessageFor(model => model.kilometraje)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.cantidadVeces)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.cantidadVeces)
            @Html.ValidationMessageFor(model => model.cantidadVeces)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idMedios, "listaMedios")
        </div>
        <div class="editor-field">
            @Html.DropDownList("idMedios", String.Empty)
            @Html.ValidationMessageFor(model => model.idMedios)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
