@model CO2Neutral_MVC.Models.Recomendacion

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Recomendacion</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.idRecomendacion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.idRecomendacion)
            @Html.ValidationMessageFor(model => model.idRecomendacion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nombre)
            @Html.ValidationMessageFor(model => model.nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.descripcion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.descripcion)
            @Html.ValidationMessageFor(model => model.descripcion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idCategoria, "CategoriaRecomendacion")
        </div>
        <div class="editor-field">
            @Html.DropDownList("idCategoria", String.Empty)
            @Html.ValidationMessageFor(model => model.idCategoria)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
