@model IEnumerable<CO2Neutral_MVC.Models.Recomendacion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idRecomendacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoriaRecomendacion.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idRecomendacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoriaRecomendacion.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.idRecomendacion  }) |
            @Html.ActionLink("Details", "Details", new { id = item.idRecomendacion }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.idRecomendacion })
        </td>
    </tr>
}

</table>
